body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #f4f4f4;*/
    background-image: url('water.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional, for a fixed background */
    /* Increase the z-index to ensure it's on top of other elements */
    z-index: -1;
}

.building {
    width: 375px;
    height: 700px;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    border: 3px solid #000;
    z-index: 1;

}

.character {
    height: 80px;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('boat.png'); /* Set the path to your fish image */

    position: absolute;
    top: 5%; 
    left: 35%;
   

}


.fish {
    width: 70px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 50%;
}


#fish1 {
    left: 40%;
    top: 30%;
    background-image: url('fish.jpg'); /* Set the path to your fish image */
    animation: swim 3s ease-in-out infinite; /* Apply the swim animation */

}

#fish2 {
    left: 55%;
    top: 30%;
    background-image: url('dory.gif'); /* Set the path to your fish image */
    animation: swim 2s ease-in-out infinite; /* Apply the swim animation */


}

#fish3 {
    left: 40%;
    top: 50%;
    background-image: url('fish.jpg'); /* Set the path to your fish image */
    animation: swim 4s ease-in-out infinite; /* Apply the swim animation */


}

#fish4 {
    left: 55%;
    top: 50%;
    background-image: url('nemo.gif'); /* Set the path to your fish image */
    animation: swim 3s ease-in-out infinite; /* Apply the swim animation */


}
#fish5 {
    left: 40%;
    top: 70%;
    background-image: url('dory.gif'); /* Set the path to your fish image */

    animation: swim 2.5s ease-in-out infinite; /* Apply the swim animation */

}

#fish6 {
    left: 55%;
    top: 70%;
    background-image: url('fish.jpg'); /* Set the path to your fish image */

    animation: swim 2s ease-in-out infinite; /* Apply the swim animation */

}

#fish7 {
    left: 40%;
    top: 90%;
    background-image: url('dory.gif'); /* Set the path to your fish image */
    animation: swim 3s ease-in-out infinite; /* Apply the swim animation */

    
}

#fish8 {
    left: 55%;
    top: 90%;
    background-image: url('nemo.gif'); /* Set the path to your fish image */
    animation: swim 4s ease-in-out infinite; /* Apply the swim animation */


}

@keyframes swim {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px); /* Adjust this value to control the swim motion */
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes swim2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Adjust this value to control the swim motion */
    }
    100% {
        transform: translateY(0);
    }
}